/* 
    Created on : 11/06/2020, 08:22:51 PM
    Author     : aayala
*/
body{
    margin: 0;
    padding: 0;
  
}
.fondo{
    background-image: url('../img/10.jpg');
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
}

.f1{
    background-image: url('../img/ss1.png');
    width: 100%;
    height: 70vh;
    background-position: center;

}

.f5{
    background-image: url('../img/ss2.png');
    width: 100%;
    height: 70vh;
    background-size: cover;

}

.f6{
    background-image: url('../img/ss3.png');
    width: 100%;
    height: 70vh;
    background-size: cover;

}

.f2{
    background-image: url('../img/ss4.png');
    width: 100%;
    height: 70vh;
    background-size: cover;

}

.f3{
    background-image: url('../img/ss5.png');
    width: 100%;
    height: 94vh;
    background-size: cover;
    background-position: center;
}